<div class="col-md-12" *ngIf="showLoading">
  Loading...
</div>
<div class="row">
<div class="col-md-4" style="margin:0 !important;">
  <p class="p-2">Select Vectors</p>
  <div *ngFor="let layer of data.options.input | keyvalue">
    <pg-select style="width: 100%;" [(ngModel)]="computeData[layer.key+'_'+i]" [PlaceHolder]="layer.key + ' ' + (i+1) + ' of ' + layer.value" AllowClear ShowSearch *ngFor="let count of counter(layer.value);let i=index">
        <pg-option
        *ngFor="let option of dataSelectors[layer.key]"
        [Label]="option.name"
        [Value]="option"
        [Disabled]="!option.state">
        </pg-option>
    </pg-select>
  </div>
  <p class="p-2">Specify Options</p>
  <div class="p-2">
    <pg-select style="width: 100%;" [PlaceHolder]="'Units'" [(ngModel)]="computeData['units']">
        <pg-option
        *ngFor="let unit of allowedUnits"
        [Label]="unit"
        [Value]="unit">
        </pg-option>
    </pg-select>
  </div>
  <div class="p-1">
    <button type="button" class="pull-right btn btn-primary" (click)="performComputation()">
      Compute
    </button>
  </div>
</div>

<div class="col-md-8">
  <div class="turf_map" style="height: 300px;"
      leaflet 
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="options"
      (leafletMouseOver)="refreshMap()"
      [leafletBaseLayers]="baseLayers">
  </div>
</div>
</div>